{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-md-10 text-secondary text-center">
            <div id="cmsmasters_heading_e6df6c9045" class="cmsmasters_heading_wrap cmsmasters_heading_align_center">
                <h2 class="cmsmasters_heading text-warning-emphasis"><b>History begins in 2018</b></h2>
                <br>
            </div>
        <div class="container-fluid">
            <div class="row justify-content-center mt-4">
                <div class="col-md-10 mx-5 featured_block_text text-left">
                    <p> S3 Park being inaugurated on 24<sup>th</sup> August 2018, is a wonderful setting of refreshment an oasis of isolation at the end
                        of a fulfilling day of business or sightseeing, situated at the final point of Ambernath (Lord of Sky, the S3 Park serves the 
                        ambience with abundance of natural light that flows through the tremendous skylight and large floor-to-ceiling windows along with 
                        tiled flawless red granites it serves the savory to the eyes while you stay nestled right in the heart of the city’s bustling peace.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
                <div id="cmsmasters_row_7bfee17003" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
                    <div class="row">
                        <div class="col-md-5 mx-5 text-success mx-auto text-left">
                            <div id="cmsmasters_fb_4641bab4cc" class="cmsmasters_featured_block_">
                                <div class="featured_block_inner text-warning-emphasis">
                                    <h2><b>LUXURY &amp; SERVICES:</b></h2>
                                    <p>
                                        <span> 
                                             S3 compels in working in sheer class of elegance with best-class room with amenities towards excellence of comfort along with amenities. In-hotel restaurants we have laid choices of buffets meals to menu in the combinations of best Indian and Chinese satisfying the taste buds to the fullest stands our motto.</p>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mx-5 text-warning-emphasis">
                            <h2><b>EVENTS & SPACES:</b></h2>
                        
                            <p>S3 compels in working in sheer class of elegance with best-class room with amenities towards excellence of comfort along with amenities. In-hotel restaurants we have laid choices of buffets meals to menu in the combinations of best Indian and Chinese satisfying the taste buds to the fullest stands our motto.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-md-12 text-success text-center">   
            <div id="cmsmasters_row_ab4738af4f" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
            <div class="cmsmasters_row_outer_parent">
        <div class="cmsmasters_row_outer">
    <div class="cmsmasters_row_inner">
    <div class="cmsmasters_row_margin">
    <div id="cmsmasters_column_8895545397" class="cmsmasters_column one_first">
    <div class="cmsmasters_column_inner"><div id="cmsmasters_heading_hs8798rbra" class="cmsmasters_heading_wrap cmsmasters_heading_align_center">
        <h2 class="cmsmasters_heading text-warning-emphasis"><i><b>Places Near Me</b></i></h2>
    </div>
    </div></div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
</div>
    <br>
    <br>
    <div class="row">
        <!-- Column 1: Image -->
        <div class="col-md-7 mx-5 my-3">
            <h4><strong><i>Chhatrapati Shivaji Maharaj International Airport</i> </strong></h4>
            <p>Chhatrapati Shivaji International Airport (CSIA) in Mumbai, Maharashtra, India, (formerly Sahar International Airport) is located inside the city, towards the north with convenient access to the rest of the city by road and the local rail network.</p>
            <p>The CSIA airport operates with three terminals, terminal 1 for domestic flights, terminal 2 for both domestic and international flights, and general aviation terminal for private and non-scheduled flight operators.</p>
        </div>
        <br>
    <br>
    <br>  
    <!-- Column 2: Content -->
        <div class="col-md-3 mx-3 my-3">
            <div class="cmsmasters_img cmsmasters_image_n">
                <img src="{% static 'asset/images/csmt_airport.jpg' %}" width="300px" alt="Chhatrapati Shivaji Maharaj International Airport" />
            </div>
        </div>
    </div>
    </div>
<br>
<br>
<br>
    <div class="row">
        <!-- Column 1: Image -->
        <div class="col-md-7 mx-5 my-3">
            <h4><strong><i>Kalyan Junction Railway Station</i> </strong></h4>
            <p>Kalyan Junction railway station is a major railway junction station on the central line of the Mumbai Suburban Railway network, lying at the junction of the north-east and south-east lines of the suburban Mumbai division of the Central Railway, 54 km (34 mi) north-east of Mumbai. It comes under top 10 busiest railway junction in India.</p>
        </div> 
    <!-- Column 2: Content -->
        <div class="col-md-4 mx-3 my-3">
            <div class="cmsmasters_img cmsmasters_image_n">
                <img src="{% static 'asset/images/kyn_stn.jpg' %}" width="300px" alt="Chhatrapati Shivaji Maharaj International Airport" />
            </div>
        </div>
    </div>
    </div>
<br>
<br>

<div class="row">
    <!-- Column 1: Image -->
    <div class="col-md-7 mx-5 my-3">
        <h4><strong><i>Matheran</i></strong></h4>
        <p>Matheran is a hill station and a municipal council in Karjat Tahsil in the Raigad district in the Indian state of Maharashtra.Matheran is part of the Mumbai Metropolitan Region. Matheran is one of the smallest hill stations in India. It is located on the Western Ghats range at an elevation of around 800 m (2,625 feet) above sea level.</p>
    </div>
    <br>
<br>
<br>  
<!-- Column 2: Content -->
    <div class="col-md-4 mx-1 my-3">
        <div class="cmsmasters_img cmsmasters_image_n">
            <img src="{% static 'asset/images/Matheran.jpg' %}" width="300px" alt="Chhatrapati Shivaji Maharaj International Airport" />
        </div>
    </div>
</div>
</div>
<br>

<div class="row">
    <!-- Column 1: Image -->
    <div class="col-md-7 mx-5 my-3">
        <h4><strong><i>Chikloli Dam </i></strong></h4>
        <p>Take a brisk drive to Chikloli Dam which is just 4.4 kms away from our property. Chikhloli dam is for peaceful place near Badlapur and ambernath road.</p>
    </div>
<br>

<!-- Column 2: Content -->
    <div class="col-md-4 mx-3 my-3">
        <div class="cmsmasters_img cmsmasters_image_n">
            <img src="{% static 'asset/images/chikhloli_dam.jpg' %}" width="300px" alt="Chhatrapati Shivaji Maharaj International Airport" />
        </div>
    </div>
</div>
</div>
<br>

<div class="row">
    <!-- Column 1: Image -->
    <div class="col-md-7 mx-5 my-3">
        <h4><strong><i>Barvi Dam</i></strong></h4>
        <p>Barvi Dam is an earth fill dam on the Barvi River near Badlapur, Thane district, in the state of Maharashtra in India. The height of the dam above lowest foundation is 72.60 m (238.2 ft) while the length is 746 m (2,448 ft). The gross storage capacity is 178,580.00 km (42,843.62 cu mi) famous Barvi Dam is 16 kms, where you have a Natural Waterfall from July to Sept, monsoon waters rush through the village downwards from the upper terrain of mountains and lake behind, higher in elevation from us. The pathway of this water provides for a seasonal waterfall, best for hydrotherapy like a massage.</p>
    </div>
    <br>
<br> 
<!-- Column 2: Content -->
    <div class="col-md-4 mx-3 my-3">
        <div class="cmsmasters_img cmsmasters_image_n">
            <img src="{% static 'asset/images/Barvi_dam.jpg' %}" width="300px" alt="Chhatrapati Shivaji Maharaj International Airport" />
        </div>
    </div>
</div>
</div>
<br>
<div class="row">
    <!-- Column 1: Image -->
    <div class="col-md-7 mx-5 my-3">
        <h4><strong><i>Kondeshwar Temple</i></strong></h4>
        <p>Dedicated to Lord Shiva, this ancient temple is famous for its location in the midst of a dense forest. Reachable after a rocky hike, its black stone architecture never fails to astonish. The serenity of the temple is only broken by the sounds of cascading water from a nearby waterfall. Spend time cooling down in the misty water sprays from the falls. The temple is located in Jambhivali,  which is 11 kms from Silver Molten<br />
        </div>
    <br>
<br>

<div class="col-md-4 mx-3 my-3">
    <div class="cmsmasters_img cmsmasters_image_n">
        <img src="{% static 'asset/images/Kondeshwar_Temple.jpg' %}" width="300px" alt="Chhatrapati Shivaji Maharaj International Airport" />
    </div>
</div>
</div>
</div>
<br>
<div class="row">
<!-- Column 1: Image -->
<div class="col-md-7 mx-5 my-3">
    <h4><strong><i>Ambernath Station</i></strong> </strong></h4>
    <p> Ambernath (also spelled Ambernath) is a railway station on the Central Line of the Mumbai Suburban Railway network. It is an important terminus for local commuters.</p>
    <p>Ambernath is famous for its namesake <em>Ambreshwar mandir,</em> a temple dedicated to Shiva and therefore commonly known as <em>Shivmandir</em>. This temple was built in 1060 CE and is included in the small list of historically very important places in India by UNESCO. The city of Ambernath became notable when an ordnance factory was set up during the British rule. This factory produces ammunition for the Indian army along with shielded vehicles on a large scale.</p>
</div>

<!-- Column 2: Content -->
<div class="col-md-4 mx-3 my-5">
    <div class="cmsmasters_img cmsmasters_image_n">
        <img src="{% static 'asset/images/Ambernath_stn.jpg' %}" width="300px" alt="Chhatrapati Shivaji Maharaj International Airport" />
    </div>
</div>
</div>
</div>
        
    
    
    <div class="cl"></div><div class="content_wrap fullwidth">
    
    <div class="middle_content entry"></div>
    <!-- Finish Content -->
    




{% endblock 'main' %}