{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

  <!-- Cart Start-->
  <div class="row mt-5">
    <div class="col-md-8 mx-5">
        {% for x in data %}
        {% if forloop.counter == 1 %}
        <h5 class="col-md-9 bg-light  mx-1  bg-success-subtle text-black p-2"><strong>CUSTOMER'S DETAILS</strong></h5> <br>
        <div class="col-md-7 bg-body mx-5">
        <p><strong>Name:</strong>&nbsp;&nbsp;&nbsp;{{x.uid.username}}</p>
        <p><strong>Mobile:</strong>&nbsp;&nbsp;&nbsp;9370770524</p>
        <p><strong>Email:</strong>&nbsp;&nbsp;&nbsp;{{x.uid.email}}</p> <br>
        </div>
        {% endif %}
        {% endfor %}
        <h5 class="col-md-9 mx-1 bg-success-subtle text-black p-2"><strong>ORDER SUMMARY</strong></h5> <br>
        {% for x in data %}
        <div class="row">
            <div class="col-md-4  mx-4 p-4">
                <img src="{{x.pid.pimage.url}}"  width="100%" alt="">
            </div>
            <div class="col-md-6">
                <p> <strong>Product Name:</strong>&nbsp;&nbsp;&nbsp;{{x.name}}</p>
                <p> <strong>Price:</strong>&nbsp;&nbsp;&nbsp;{{x.pid.price}}</p>
                {% if x.pid.cat == 1 %}
                <p> <strong>Category:</strong>&nbsp;&nbsp;&nbsp;Veg Special</p>
                {% elif x.pid.cat == 2 %}
                <p> <strong>Category:</strong>&nbsp;&nbsp;&nbsp;Non-Veg Special</p>
                {% elif x.pid.cat == 3 %}
                <p> <strong>Category:</strong>&nbsp;&nbsp;&nbsp;Dessert</p>
                {% elif x.pid.cat == 4 %}
                <p> <strong>Category:</strong>&nbsp;&nbsp;&nbsp;Pizza's</p>
                {% elif x.pid.cat == 5 %}
                <p> <strong>Category:</strong>&nbsp;&nbsp;&nbsp;Burgers</p>
                {% else %}
                <p> <strong>Category:</strong>&nbsp;&nbsp;&nbsp;Beverages</p>
                {% endif %}
                <p> <strong>Product Details:</strong>&nbsp;&nbsp;&nbsp;{{x.pid.pdetails}}</p>
               <!-- <p>
                    <strong>QTY:</strong>
                    <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
                    <input type="number" value="{{x.qty}}">
                    <a href="/updateqty/1/{{x.id}}"><button class="btn btn-success">+</button></a>
                </p> -->
                <a href="/remove_order/{{x.id}}"><button class="btn btn-success">Remove</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Customer and Porduct Detaild-->
    <div class="col-md-3">
        <h5 class="bg-success-subtle text-black p-2"><strong>PRICE DETAILS</strong></h5> <br>
        <p><strong>Total({{n}} items):</strong> RS.{{total}}</p>
        <hr>
        <p><stonng>Total Payable:</stonng> Rs.{{total}}</p>
        <a href="/makepayment"><button class="btn btn-success">Make Payment</button></a>
    </div>
    <!-- Total Amount Details-->
</div>
<!-- Cart End-->
<!--
key_id	key_secret
rzp_test_kFWjLiDcgADQcW	qvD6wxlCMk3UatZp6KxJgfZD
-->




{% endblock 'main' %}