{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<!-- Services section -->
            <div class="row">
                <!-- Column 1: Image -->
                <div class="col-md-7 mx-5 my-5">
                    <h4><strong>Spa, beauty & Health </strong></h4>
                    <p>A spa center is a place where you can get rid of your so many problems and some medical issues. When you prefer to open a spa center, make sure that you will make it look like a beautysmart medical spa to get attracted to it. Once you paid attention to your business’s multiple aspects, it will help you get the best results with more spa lovers to keep their body fit and healthy.</p>
                </div>
                <br>
            <br>
            <br>  
            <!-- Column 2: Content -->
                <div class="col-md-3 mx-3 my-5">
                    <div class="cmsmasters_img cmsmasters_image_n">
                        <img src="{% static 'asset/images/spa_image.jpg' %}" width="320px" Height="250px" alt="Chhatrapati Shivaji Maharaj International Airport" />
                    </div>
                </div>
            </div>
            </div>
              

            <div class="row">
                <!-- Column 1: Image -->
                <div class="col-md-7 mx-5 my-5">
                    <h4><strong>Restaurant</strong></h4>
                    <p>Dining at a restaurant for dinner is not just a meal; it's an experience that tantalizes the senses and creates lasting memories.</p> 
                    <p>As the day transitions into the evening, restaurants often transform into inviting spaces, adorned with ambient lighting and a welcoming atmosphere.</p>
                </div>
                <br>
            <br>
            <br>  
            <!-- Column 2: Content -->
                <div class="col-md-3 mx-1 my-5">
                    <div class="cmsmasters_img cmsmasters_image_n">
                        <img src="{% static 'asset/images/restaurant.jpg' %}" width="320px" Height="250px" alt="Chhatrapati Shivaji Maharaj International Airport" />
                    </div>
                </div>
            </div>
            </div>

            <div class="row">
                <!-- Column 1: Image -->
                <div class="col-md-7 mx-5 my-5">
                    <h4><strong>Swimming Pool</strong></h4>
                    <p>A successful swimming pool must be attractive to the travellers, not only for relaxing and enjoying the sun, but also for taking photos and sharing them online. However, simply placing a special and impressive pool is not enough to make the difference. Before you make your final decisions about the pool area, you should have already studied the orientation and the course of the sun and aim to create a special setting for the travellers</p>
                </div>
                <br>
            <br>
            <br>  
            <!-- Column 2: Content -->
                <div class="col-md-3 mx-3 my-5">
                    <div class="cmsmasters_img cmsmasters_image_n">
                        <img src="{% static 'asset/images/swimming_pool.jpg' %}" width="320px" Height="250px" alt="Chhatrapati Shivaji Maharaj International Airport" />
                    </div>
                </div>
            </div>
            </div>  
            <!--
            <div class="row">
                 Column 1: Image 
                <div class="col-md-7 mx-5 my-5">
                    <h4><strong>Conference Hall</strong></h4>
                    <p>Conference Hall</span>The elegant Crystal Ballroom is LOTTE HOTEL HANOI’s signature banquet room, accommodating up to 1,200 guests. The lavish interior combined with audio-visual equipment, laser beam lighting and computerized lighting system make the Crystal Ballroom the ideal setting for extravagant weddings and major international conferences. The ballroom is versatile, designed to subdivide into three sections.</p>
                Column 2: Content 
                <div class="col-md-3 mx-3 my-5">
                    <div class="cmsmasters_img cmsmasters_image_n">
                        <img src="{% static 'asset/images/conference_hall.jpg' %}" width="320px" Height="250px" alt="Chhatrapati Shivaji Maharaj International Airport" />
                    </div>
                </div>
            </div>
            </div>
            -->
            <!--Service Tab Menu Area End-->
{% endblock 'main' %}
                    

































































































































































































